body{
    position: absolute;
    background-image: url("art/gamescene-wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#myCanvas{
    position: absolute;
    top: 3em;
    height: 850;
    width: 600;
    left: 450pt;  
}
#backToStart{
    position: absolute;
    width: 250pt;
    height: 35pt;
    top: 150pt;
}
#musicButton{
    position: absolute;
    width: 250pt;
    height: 35pt;
    top: 250pt;
}
#restartGame{
    position: absolute;
    width: 250pt;
    height: 35pt;
    top: 200pt;
}
#gameMusicControler{
    position: absolute;
    top: 55em;
    width: 25em;
    height: 2em;
}
#displayScore{
    color: white;
    position: absolute;
    width: 15em;
    height: 5em;
    font-family: Unispace;
    font-size: 2em;
    left: 25em;
}