body{
    background-image: url(../img/control-wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 44%;
    left: 32%;
}

.container > div {
    border: 5px solid white;
    border-radius: 0.5cm;
    background-color: grey;
    margin: 0 10px;
    display: inline-block;
    padding: 20px;
}

.container > div > h1 {
    margin: 0 0 10px 0;
}

#backToMenu {
    position: relative;
    width: 250pt;
    height: 35pt;
    top: 100pt;
}