body{
    position: absolute;
    background-image: url("../img/gamescene-wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 100pt;
}

.container > button {
    width: 250pt;
    height: 35pt;
    margin:20px 0 ;
    display: block;
}
.container > button:first-child {
    margin-top: 0;
}

#myCanvas{
    position: absolute;
    top: 3em;
    width: 600px;
    height: 850px;
    border:5px solid white;
    left: 450pt;  
}

#gameMusicControler{
    position: fixed;
    width: 25em;
    height: 2em;
    bottom: 1.5em;
}

#displayScore{
    color: white;
    position: absolute;
    width: max-content;
    font-family: Unispace;
    font-size: 2em;
    left: 450pt;
}