#musicButton{
    background-color: cyan;
    position: absolute;
    width: 7%;
    height: auto;
    margin-left: 14%;
    font-size: 125%;
}
#backToStart{
    background-color:cyan;
    position: absolute;
    width: 7%;
    height: auto;
    font-size: 125%;
}
#restartGame{
    background-color: cyan;
    position: absolute;
    width: 7%;
    height: auto;
    margin-left: 7%;
    font-size: 125%;
}
#musicButton:hover{
    background-color: black;
    opacity: 0.85;
    color: white;
}
#backToStart:hover{
    background-color: black;
    opacity: 0.85;
    color: white;
}
#restartGame:hover{
    background-color: black;
    opacity: 0.85;
    color: white;
}